$g:linear-gradient(45deg, rgb(0, 131, 6), rgb(132, 247, 0));
$b:linear-gradient(45deg, rgb(3, 108, 218), rgb(21, 245, 253));
$p:linear-gradient(45deg, rgb(118, 0, 181), rgb(255, 87, 185));
$r: linear-gradient(45deg, rgb(177, 0, 27), rgb(255, 0, 23));
$y:linear-gradient(45deg, rgb(255, 102, 0), rgb(255, 210, 0));
$bk:linear-gradient(45deg, rgb(0, 0, 0), rgb(159, 159, 159));
$lt:linear-gradient(45deg, rgb(194, 194, 194), rgb(255, 255, 255));

$c: rgb(52, 21, 0);
$cc:rgb(126, 77, 59);
$ccd:rgb(255, 86, 34);
$ccd:rgb(255, 152, 0);
$cfc:rgb(241, 195, 56);
$cvc:rgb(255, 227, 0);
$cnc:rgb(195, 242, 56);
$cvc:rgb(110, 206, 0);
$cvc:rgb(0, 163, 7);
$cvbc:rgb(0, 183, 167);
$yc:rgb(0, 207, 255);
$chc:rgb(0, 166, 255);
$ckc:rgb(0, 48, 255);
$cnc:rgb(63, 81, 181);
$cvc:rgb(103, 58, 183);
$ckc:rgb(195, 15, 225);
$chc:rgb(255, 72, 134);
$cgfc:rgb(255, 0, 0);
$cfc:rgb(128, 128, 128);
$cyy:rgb(0, 0, 0);
